doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body 
        h2 Reestablir password 
        p Hola: has sol·licitat restablir el password. Fes click en el següent enllaç per a restablir-lo.
        a(href=`${resetUrl}`) Resetejar password
        p Si no ports accedir a aquest enllaç visita #{resetUrl}
        p Si no has sol·licitat aquest email, pots ignorar-lo 